[defaults]
inventory = inventory/hosts.ini
remote_user = gn-user
private_key_file = ~/.ssh/id_rsa
host_key_checking = False
pipelining = True
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
